<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons>
      <ion-back-button></ion-back-button>
    <ion-title>Address</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id='map'> </div>

   <ion-card>
    <ion-searchbar (input)="search($event)" (change)="addressCheck($event)"     [value]="selectedAddress"></ion-searchbar>
    <ion-item *ngFor="let address of addresses ; let i=index" (click)="onSelect(address, i)" >
     {{ address}}
    </ion-item>
      <ion-button fill="block" (click)="finish()">Complete Order</ion-button>
   </ion-card>
    
    
</ion-content>
